<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-container") do |f| %>
  <div class="field form-items">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",
    class: "form-fields border-black form-title" %>
  </div>

  <div class="field form-items">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password",
    class: "form-fields border-black form-title" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-items">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
