<header>
  <h1 class= "title">List of User's Posts</h1>
</header>

<%# Renders partial view for the user section of the page, passing in the @user variable %>
<%= render 'partials/user', user: @user %>

<%# Loops through each of the user's recent posts and renders a partial view for each post, passing in the post variable %>
<% @user_recent_posts.each do |post| %>
  <%# Renders partial view for the post section of the page, passing in the post variable %>
  <%= render 'partials/post', post: post %>

    <ul class="comments">
      <% post.recent_comments.includes(:author).each do |comment| %>
         <%# A list item element with the author's name and the text of the comment %>
        <li class="comment-list">
          <div class="comment-content">
            <p><%= "#{comment.author.name}: #{comment.text}" %></p>
          </div>
          <% if can? :destroy, comment %>
            <div class="delete-button-container">
              <%= form_with url: user_post_comment_path(post.author.id, post.id, comment.id), :method => :delete do |f| %>
                <%= f.submit 'Delete comment', class: 'delete-button' %>
              <% end %>
            </div>
          <% end %>
        </li>
    </ul>
  <% end %>
<% end %>
<%= link_to 'create new post', new_user_post_path(@user.id), class: "button" %>
