<header>
  <h1 class= "title">Create a Post</h1>
</header>

<div>
  <%= form_with model: Post, url: user_posts_path, class: "post-form", method: :post, local: true do |form| %>
    
    <div>
      <%= form.label :title, "Title"%>
      <%= form.text_field :title, placeholder: 'Enter post title', class:'title-input' %>
    </div>

    <div>
      <%= form.label :text, "Content" %>
      <%= form.text_area :text, placeholder: 'Write your post', class: 'text-input' %>
    </div>
    
    <div>
      <%= form.submit 'Submit Post', class: 'button', id:'post-btn' %>
    <div>
  <% end %>
</div>